.project > img {
    width : 350px;
    height : 179px;
}

.project {
    margin: 15px;
    width: 350px;
    height : 179px;
    transition: transform 100ms ease-in;
}

.project:hover {
    color: white;
    background-color: violet;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projectcont {
    padding: 10px;
}

.projectcont >h4 {
    padding-bottom: 5px;
}

.projectcont >p {
    font-size: 15px;
}